table.composition-table
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Обвязка:
		td.composition-table__td
			| Одинарная. Нестроганный брус хвойных пород естественной влажности 150х150мм.
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Лаги:	
		td.composition-table__td
			| Брус 40х150, с шагом не более 70см
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Фронтоны:	
		td.composition-table__td
			| Выполнены из доски 40х100мм, обшиты вагонкой хвойных пород, естественной влажности
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Обрешетка:	
		td.composition-table__td
			| Не сплошная из полуобрезной доски 20 мм, с шагом не более 30 см

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Кровля:	
		td.composition-table__td
			| Рубероид.

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Сборка углов:	
		td.composition-table__td
			| В пол дерева.

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Капитальные стены:	
		td.composition-table__td
			| Профилированный брус хвойных пород естественной влажности, размерами 100х150мм (100мм ширина х 150мм высота), возможно выполнение из бруса 150х150мм 150х200мм.

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Теплоизоляция:	
		td.composition-table__td
			| В качестве теплоизоляции между брусом укладывается межвенцовый утеплитель – джутовое льнополотно

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Перегородки:
		td.composition-table__td
			| 1-й этаж: профилированный брус естественной влажности 100х150мм, (100мм ширина х 150мм высота) 2-й этаж: каркасные из доски 40х100, отделанные вагонкой хвойных пород, камерной сушки

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Балки межэтажного перекрытия:
		td.composition-table__td
			| Брус 40х150, с шагом не более 90 см
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Высота этажей:
		td.composition-table__td
			| 1 этаж - 2.30 17 венцов. 2 этаж - 2.20

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Лестница:
		td.composition-table__td
			| Лаз на мансарду.

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Мансарда:	
		td.composition-table__td
			| Каркасная, обшита вагонкой хвойных пород, камерной сушки


	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Стропила:	
		td.composition-table__td
			| Выполнены из доски 40х100мм, с шагом не более 90 см

	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Поднебесники:
		td.composition-table__td
			| 27 см
	tr.composition-table__tr
		td.composition-table__td.composition-table__td_icon
			| Гвозди для сруба и силовых конструкций:	
		td.composition-table__td
			| Обычные, не оцинкованные. Для внешней и внутренней отделки, оцинкованные и финишные
