footer.foo: .container: .row: .clearfix.foo__container
  .col-xs-12.col-md-6.col-md-push-3
    .foo__nav
      nav.nav-foo
        h3.nav-foo__title О компании
        ul.nav-foo__list
          li.nav-foo__item: a.nav-foo__link(href="#") Информация
          li.nav-foo__item: a.nav-foo__link(href="#") Технологии
          li.nav-foo__item: a.nav-foo__link(href="#") FAQ
          li.nav-foo__item: a.nav-foo__link(href="#") Доставка и оплата
          li.nav-foo__item: a.nav-foo__link(href="#") Контакты
          
      nav.nav-foo
        h3.nav-foo__title Проекты
        ul.nav-foo__list
          li.nav-foo__item: a.nav-foo__link(href="#") Дома из бруса
          li.nav-foo__item: a.nav-foo__link(href="#") Каркасные дома
          li.nav-foo__item: a.nav-foo__link(href="#") Бани из бруса
          li.nav-foo__item: a.nav-foo__link(href="#") Переврзные бани
          li.nav-foo__item: a.nav-foo__link(href="#") Бани бочки
          
      nav.nav-foo
        h3.nav-foo__title Услуги
        ul.nav-foo__list
          li.nav-foo__item: a.nav-foo__link(href="#") Фундаменты
          li.nav-foo__item: a.nav-foo__link(href="#") Заборы
          li.nav-foo__item: a.nav-foo__link(href="#") Печи и отопление
          li.nav-foo__item: a.nav-foo__link(href="#") Технический надзор
  .col-xs-12.col-sm-6.col-md-3.col-md-pull-6
    .foo__info
      p.foo__p.foo__copy © 2017 СК «Каркас»
      p.foo__p Копирование текстов размещенных на сайте запрещено!
      p.foo__p Все факты копирования будут преследоваться в судебном порядке
      p.foo__p: a.link_theme_rose(href="#") Карта сайта 
  
          
      
  .col-xs-12.col-sm-6.col-md-3
    .foo__contacts
      h3.foo__title Контактная информация
      .foo__phone 
        span.foo__phone-prefix 8 
          span.text__azure 800
        span.foo__phone-main  200 00 82
      .foo__phone-info Бесплатно для жителей России
      .foo__social
        ul.social
          li.social__item: a.social__link.social__link_theme_red(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-vk")
          li.social__item: a.social__link.social__link_theme_red(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-fb")
          li.social__item: a.social__link.social__link_theme_red(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-tw")
