.item-price.item__price
	.item-price__label
		| Стоимость строительства
	.item-price__key
		| от 480 000 
		i.fa.fa-rub
	a.button.button_theme_sun.button_type_link.item-price__button.button_size_md(href="#")
		| Получить бесплатную консультацию
