ul.social
  li.social__item: a.social__link.social__link_theme_brown(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-vk")
  li.social__item: a.social__link.social__link_theme_brown(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-fb")
  li.social__item: a.social__link.social__link_theme_brown(href="#"): svg.svg(width="40", height="40"): use(xlink:href="images/sprite.svg#social-tw")
