.item-chars
	.item-chars__title
		| хАРАКТЕРИСТИКИ ПРОЕКТА
	.item-chars__body
		table.item-chars__table
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Внешние размеры дома		
				td.item-chars__td
					span.item-chars__val
						| 6х9 м
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Общая площадь
				td.item-chars__td
					span.item-chars__val
						| 99,75м2
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Жилая площадь
				td.item-chars__td
					span.item-chars__val
						| 82,64 м2
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Высота 1 этажа
				td.item-chars__td
					span.item-chars__val
						| 2,3-2,35 м
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Высота 2 этажа
				td.item-chars__td
					span.item-chars__val
						| 2,3-2,35 м
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Количество комнат
				td.item-chars__td
					span.item-chars__val
						| 4
			tr.item-chars__tr
				td.item-chars__td
					span.item-chars__key
						| Санузел
				td.item-chars__td
					span.item-chars__val
						| Есть
