.col-xs-12: .row
  .project-slider
    .project-slider__item
      .project-item.project-item_corner_top-sales
        header.project-item__header
          img.project-item__pr(src="images/project-item/1.jpg")
        .project-item__body
          h3.project-item__title «Смайл»
          .project-item__price 340 000 
            i.fa.fa-rub
          .project-item__chars
            .project-item__char Размер 
              b 9х9
            .project-item__char Общая площадь 
              b 106,43 м
                sup 2
            .project-item__char Жилая площадь 
              b 99,57 м
                sup 2
        footer.project-item__foo
          a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button(href="#") Посмотреть
        .project-item-overlay
          .project-item-overlay__header
            h3.project-item__title.project-item-overlay__title «Смайл»
          .project-item-overlay__body
            .project-item-overlay__icon: svg.svg(width="42", height="42"): use(xlink:href="images/sprite.svg#loupe")
            .project-item__chars.project-item-overlay__chars
              .project-item__char.project-item-overlay__char Размер 
                b 9х9
              .project-item__char.project-item-overlay__char Общая площадь 
                b 106,43 м
                  sup 2
              .project-item__char.project-item-overlay__char Жилая площадь 
                b 99,57 м
                  sup 2
          .project-item-overlay__foo
            a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button.project-item-overlay__button(href="#") 340 000 
              i.fa.fa-rub
    .project-slider__item
      .project-item
        header.project-item__header
          img.project-item__pr(src="images/project-item/2.jpg")
        .project-item__body
          h3.project-item__title «Альпийская сказка»
          .project-item__price 340 000 
            i.fa.fa-rub
          .project-item__chars
            .project-item__char Размер 
              b 9х9
            .project-item__char Общая площадь 
              b 106,43 м
                sup 2
            .project-item__char Жилая площадь 
              b 99,57 м
                sup 2
        footer.project-item__foo
          a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button(href="#") Посмотреть
        .project-item-overlay
          .project-item-overlay__header
            h3.project-item__title.project-item-overlay__title «Альпийская сказка»
          .project-item-overlay__body
            .project-item-overlay__icon: svg.svg(width="42", height="42"): use(xlink:href="images/sprite.svg#loupe")
            .project-item__chars.project-item-overlay__chars
              .project-item__char.project-item-overlay__char Размер 
                b 9х9
              .project-item__char.project-item-overlay__char Общая площадь 
                b 106,43 м
                  sup 2
              .project-item__char.project-item-overlay__char Жилая площадь 
                b 99,57 м
                  sup 2
          .project-item-overlay__foo
            a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button.project-item-overlay__button(href="#") 340 000 
              i.fa.fa-rub
    .project-slider__item
      .project-item
        header.project-item__header
          img.project-item__pr(src="images/project-item/3.jpg")
        .project-item__body
          h3.project-item__title «Парижанин»
          .project-item__price 340 000 
            i.fa.fa-rub
          .project-item__chars
            .project-item__char Размер 
              b 9х9
            .project-item__char Общая площадь 
              b 106,43 м
                sup 2
            .project-item__char Жилая площадь 
              b 99,57 м
                sup 2
        footer.project-item__foo
          a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button(href="#") Посмотреть
        .project-item-overlay
          .project-item-overlay__header
            h3.project-item__title.project-item-overlay__title «Парижанин»
          .project-item-overlay__body
            .project-item-overlay__icon: svg.svg(width="42", height="42"): use(xlink:href="images/sprite.svg#loupe")
            .project-item__chars.project-item-overlay__chars
              .project-item__char.project-item-overlay__char Размер 
                b 9х9
              .project-item__char.project-item-overlay__char Общая площадь 
                b 106,43 м
                  sup 2
              .project-item__char.project-item-overlay__char Жилая площадь 
                b 99,57 м
                  sup 2
          .project-item-overlay__foo
            a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button.project-item-overlay__button(href="#") 340 000 
              i.fa.fa-rub
    .project-slider__item
      .project-item
        header.project-item__header
          img.project-item__pr(src="images/project-item/1.jpg")
        .project-item__body
          h3.project-item__title «Теремок»
          .project-item__price 340 000 
            i.fa.fa-rub
          .project-item__chars
            .project-item__char Размер 
              b 9х9
            .project-item__char Общая площадь 
              b 106,43 м
                sup 2
            .project-item__char Жилая площадь 
              b 99,57 м
                sup 2
        footer.project-item__foo
          a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button(href="#") Посмотреть
        .project-item-overlay
          .project-item-overlay__header
            h3.project-item__title.project-item-overlay__title «Теремок»
          .project-item-overlay__body
            .project-item-overlay__icon: svg.svg(width="42", height="42"): use(xlink:href="images/sprite.svg#loupe")
            .project-item__chars.project-item-overlay__chars
              .project-item__char.project-item-overlay__char Размер 
                b 9х9
              .project-item__char.project-item-overlay__char Общая площадь 
                b 106,43 м
                  sup 2
              .project-item__char.project-item-overlay__char Жилая площадь 
                b 99,57 м
                  sup 2
          .project-item-overlay__foo
            a.button.button_type_link.button_theme_sun.button_size_sm.project-item__button.project-item-overlay__button(href="#") 340 000 
              i.fa.fa-rub
.col-xs-12: a.button.button_type_link.button_theme_sun.button_size_sm.popular-project__button(href="#") Посмотреть все проекты
