link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
link(rel="stylesheet", href="libs/ion.rangeSlider/css/ion.rangeSlider.css")
link(rel="stylesheet", href="libs/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css")
link(rel="stylesheet", href="libs/fancybox/dist/jquery.fancybox.min.css")
link(rel="stylesheet", href="libs/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/style.css")
