script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/slick-carousel/slick/slick.min.js")
script(src="libs/ion.rangeSlider/js/ion.rangeSlider.min.js")
script(src="libs/svg4everybody/dist/svg4everybody.min.js")
script(src="libs/jquery.form-styler/jquery.formstyler.min.js")
script(src="libs/fancybox/dist/jquery.fancybox.min.js")
script(src="libs/bootstrap/dist/js/bootstrap.min.js")
script(src="js/main.js")
